<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PayPal Demo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    
    <div class="container">
        <h4>Mastering Node.js: Build robust and scalable real-time server-side web applications efficiently</h4>
        <h5>Buy for $50</h5>
        <img  widht="150px" height="200px" src="https://images-na.ssl-images-amazon.com/images/I/41bhyKrhsCL._SX404_BO1,204,203,200_.jpg"/>
    <br/><br/>
        <div class="form-group">
        <form action="/pay" method="post" class="form">
            <button type="submit" class="btn btn-success">Buy</button>
        </form>
    </div>

    </div>


</body>
</html>